*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{

    background-image: url(../WhatsApp\ Image\ 2021-10-03\ at\ 16.48.57\ \(2\).png);
    background-size: 25%;
    background-repeat: repeat-x;
}