
* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: blue;
    border-bottom: 3px solid #212121;
}

h1 {
    width: 80%;
    height: 50px;
    color: #fff;
    padding: 20px;
    margin:0 auto;
}